/* SCSS HEX */
$rich-black-fogra-29: #0d1321ff;
$linen: #ffeddfff;
$apricot: #fbc6b0ff;
$light-salmon: #f69e80ff;
$flame: #ec4e20ff;
$bone: #e0dcc9ff;
$laurel-green: #c0cab2ff;
$dark-sea-green: #81a684ff;
$timberwolf: #dfdad4ff;
$silver-sand: #bec6c9ff;
$pewter-blue: #7c9eb2ff;

@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $rich-black-fogra-29;
}

#loading-header {
  font-size: 50px;
  font-family: "Freckle Face", cursive;
  color: $flame;
}

.loading-bar {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-ball {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 20px;
    background: $flame;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  @for $i from 1 through 5 {
    .ball-#{$i} {
      animation-delay: #{calc(100 * $i)}ms;
    }
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
