@import "./node_modules/moon-ui-scss/colors";
@import "./node_modules/moon-ui-scss/loader";

@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $rich-black-fogra-29;
}

.loading-header {
  font-size: 50px;
  font-family: "Freckle Face", cursive;
  color: $flame;
}

.loading-bar {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-ball {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 20px;
    background: $flame;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  @for $i from 1 through 5 {
    .ball-#{$i} {
      animation-delay: #{calc(100 * $i)}ms;
    }
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
